table {
    border:solid #000 !important;
    border-width:1px 0 0 1px !important;
    border-width:1px 0 0 1px !important;
}
th, td {
    border:solid #000 !important;
    border-width:0 1px 1px 0 !important;
    border-width:1px 0 0 1px !important;
}
table{
             border-collapse: collapse !important;
    border-width:1px 0 0 1px !important;
         }
tr>th{
     border: 1px solid #000 !important;
    border-width:1px 0 0 1px !important;
}
tr>td{
     border: 1px solid #000 !important;
    border-width:1px 0 0 1px !important;
}